# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep
